	body{
		margin: 0px;
		padding: 0px;
		height: 100%;
		background: #F6F6F6;
		font-family: "微软雅黑";
	}
	div{
		
	}
	#leftDiv{
		position: fixed;
		width: 15%;
		background: #282B33;
		color: #fff;
		height: 100%;
		top: 0px;
		left: 0px;
		bottom: 0px;
		animation: menuLoad 0.5s linear;
	}
	#rightContent{
		float: right;
		width: 80%;
		padding: 20px;
		height: auto;
		min-height: 95%;
		background-color: white;
		animation: myLoad 0.5s linear;
		
	}
	@keyframes myLoad {
		0%{
			width: 70%;
			opacity:0.5;
			}
        100%{
        	width: 80%;
        	opacity:1;
       		}
	}
	@keyframes menuLoad {
		0%{
			width: 10%;
			opacity:0.5;
			}
        100%{
        	width: 15%;
        	opacity:1;
       		}
	}
	#menu{
		margin: 0px;
		padding: 0px;
	}
	#menu a{
		text-decoration: none;
		color: #FFFFFF;
	}
	#menu li{
		list-style-type: none;
		padding: 10px;
		padding-left: 20px;
	}
	table{
		border: 1px solid #E6E6E6;
		border-collapse: collapse;
		color: #666666;
	}
	tr:first-child{
		background: #F2F2F2;
	}
	tr:hover{
		background: #F2F2F2;
	}
	td{
		border: 1px solid #E6E6E6;
		padding: 10px;
		padding-right: 100px;
	}
	table a{
		color: #666666;
		text-decoration: none;
	}
	#Alist{
		margin: 0px;
		padding: 0px;
	}
	#Alist a{
		text-decoration: none;
		color: #000;
	}
	#Alist li{
		list-style-type: none;
		padding: 10px;
		margin: 0px;
		border-bottom: 1px solid #E6E6E6;
	}
	.liTitle{
		font-size: 24px;
		display: block;
		margin-bottom: 20px;
	}
	.liContent{
		font-size: 15px;
		display: block;
		margin-bottom: 5px;
		color: #666666;
	}
	.liDate{
		font-size: 10px;
		display: block;
		color: #666666;
	}
